/* Variables */
:root {
  --searchfield-hover-border-color: rgba(223, 225, 229, 0);
  --button-color: #36c;
  --button-hover-color: #3056a9;
  --button-text-color: white;
}

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Global */
body {
  font-family: sans-serif;
}

main {
  padding: 1rem 3rem;
}

a {
  text-decoration: none;
  color: var(--button-color);
}

a:hover {
  text-decoration: underline;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="text"]:focus {
  outline: none;
}

ul,
ol {
  list-style-position: inside;
}

textarea:focus {
  outline: none;
}

.theme-button {
  background-color: var(--button-color);
  border: solid 1px var(--button-color);
  color: var(--button-text-color);
}

.theme-button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}
