.header {
  padding: 1rem 2.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-input {
  padding: 4px 8px;
  padding-left: calc(16px + 1.25rem);
  border: solid #72777d 1px;
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 256px;
  line-height: 1.375;
}

.search-button {
  padding: 0 11px;
  background-color: #f8f9fa;
  cursor: pointer;
  color: #202122;
  font-size: 14px;
  font-weight: 700;
  border: solid #72777d 1px;
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-button:hover {
  background-color: #eaecf0;
}
