{% extends 'base.html' %}
{% block head %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/article_base.css') }}" />
{% endblock %}
{% block content %}
  <form method="post" class="article-edit-form">
    <textarea class="article_editor" name="article_content" id="article_content">{{article_content}}</textarea>
    <div class="edit-actions-container">
      <input type="submit"
             class="edit-save-button theme-button"
             value="Publish article" />
    </div>
  </form>
{% endblock %}
