{% extends "base.html" %}
{% block head %}
  <title>{{ article_title }}</title>
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/article_detail.css') }}">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/github-markdown-css">
{% endblock head %}
{% block content %}
  <main>
    <nav class="article-actions-container">
      <ul class="article-actions-list">
        <li>
          <a class="{% if active_action == 'read' %}active{% endif %}"
             href="{{ url_for("article_detail_view", article_title=article_title) }}">Read</a>
        </li>
        <li>
          <a class="{% if active_action == 'edit' %}active{% endif %}"
             href="{{ url_for("article_edit_view", article_title=article_title) }}">Edit Source</a>
        </li>
      </ul>
    </nav>
    {% block article %}
    {% endblock article %}
  </main>
{% endblock content %}
